<div class="navitagorDiv" th:fragment="html">
	<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		<img style="margin-left:10px;margin-right:0px;margin-top: 3px" class="pull-left" src="static/img/site/logo.png" height="45px">
		<a class="navbar-brand" href="#nowhere">Back-end Management</a>

		<a class="navbar-brand" href="admin_category_list">Category Management</a>
		<a class="navbar-brand" href="admin_user_list">User Info Management</a>
		<a class="navbar-brand" href="admin_order_list">Order Management</a>
	</nav>
</div>
