<!--填写收货人信息，准备付款页面-->
<div th:fragment="html">

    <script>
        $(function () {
           var oiid= getUrlParms("oiid");
            var  data4Value={
                uri:'forebuy',
                total:0,
                orderItems:[],
                order:{address:'',post:'',receiver:'',mobile:'',userMessager:''}
            }

            //vue
            var  vue=new Vue({
                el:'#workingArea',
                data:data4Value,
                mounted:function () {
                    this.load();

                },
                methods:{
                    //获取订单项。
                    load:function () {
                        var url=this.uri+"?oiid="+oiid;
                        axios.get(url).then(function (value) {
                            var result=value.data;
                            vue.total=result.data.total;
                            vue.orderItems=result.data.orderItems;
                            vue.$nextTick(function(){
                                linkDefaultActions();
                            })
                        })
                    },
                    //结算
                    submitOrder:function(){
                        //点击"结算"，生成order 订单。
                        var  url="forecreateOrder";
                        axios.post(url,this.order).then(function (value) {
                            var result=value.data;
                            var oid=result.data.oid;
                            var total=result.data.total;
                            location.href="choosePayment?oid="+oid+"&total="+total;
                        })



                    }
                }
            })
        })




    </script>


    <div class="buyPageDiv">
<!--        <div class="buyFlow">-->
<!--            <img class="pull-left" src="static/img/site/simpleLogo.png">-->
<!--            <img class="pull-right" src="static/img/site/buyflow.png">-->
<!--            <div style="clear:both"></div>-->
<!--        </div>-->
        <div class="address">
            <div class="addressTip">Input the shipping address</div>
            <div>

                <table class="addressTable">
                    <tr>
                        <td class="firstColumn">Detailed address<span class="redStar">*</span></td>

                        <td><textarea name="address" v-model="order.address" placeholder="It is recommended that you fill in the detailed delivery address truthfully, such as the name of the receiver, how is the house number, floor and room number, etc."></textarea></td>
                    </tr>
                    <tr>
                        <td>Postal code</td>
                        <td><input  name="post" v-model="order.post" placeholder="If you don’t know the postal code, please fill in 000000" type="text"></td>
                    </tr>
                    <tr>
                        <td>Consignee name<span class="redStar">*</span></td>
                        <td><input  name="receiver"  v-model="order.receiver" placeholder="No more than 25 characters in length" type="text"></td>
                    </tr>
                    <tr>
                        <td>Phone number <span class="redStar">*</span></td>
                        <td><input name="mobile"  v-model="order.mobile" placeholder="Please enter 11 digits mobile phone number" type="text"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="productList">
            <div class="productListTip">Confirm Order Information</div>

            <table class="productListTable">
                <thead>
                <tr>
                    <th colspan="2" class="productListTableFirstColumn">
                        <img class="tmallbuy" src="static/img/site/logo.png">
                        <a class="marketLink" href="#nowhere">Shop</a>
                        <a class="wangwanglink" href="#nowhere"> <span class="wangwangGif"></span> </a>
                    </th>
                    <th>Unit price</th>
                    <th>Amount</th>
                    <th>Subtotal</th>
                    <th>Delivery Method</th>
                </tr>
                <tr class="rowborder">
                    <td  colspan="2" ></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody class="productListTableTbody">
                <tr class="orderItemTR" v-for="oi,index in orderItems" >
                    <td class="orderItemFirstTD">
                        <img class="orderItemImg"  :src="'static/img/productSingle_middle/'+oi.product.firstProductImage.id+'.jpg'">
                    </td>
                    <td class="orderItemProductInfo">
                        <a  :href="'product?pid='+oi.product.id" class="orderItemProductLink">
                            {{oi.product.name}}
                        </a>
<!--                        <img src="static/img/site/creditcard.png" title="Support credit card payment">-->
<!--                        <img src="static/img/site/7day.png" title="Consumer protection service, promise 7 days return">-->
<!--                        <img src="static/img/site/promise.png" title="Consumer protection services, promise to truthfully describe">-->
                    </td>
                    <td>
                                <span class="orderItemProductPrice">
                                    {{oi.product.promotePrice | formatMoneyFilter}}
                                </span>
                    </td>
                    <td>
                        <span class="orderItemProductNumber">{{oi.number}}</span>
                    </td>
                    <td>
                                <span class="orderItemUnitSum">
                                    {{oi.product.promotePrice*oi.number | formatMoneyFilter}}
                                </span>
                    </td>
                    <td rowspan="5" class="orderItemLastTD" v-if="index==0" >
                        <label class="orderItemDeliveryLabel">
                            <input type="radio" value="" checked="checked">
                            Ordinary delivery
                        </label>
                        <select class="orderItemDeliverySelect " >
                            <option>Express Free Shipping</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="orderItemSumDiv" style="width: 1013px">
                <div class="pull-left">
                    <span class="leaveMessageText">Message to seller:</span>
                    <span>
                        <img class="leaveMessageImg" style="max-width: 50%" src="static/img/site/leaveMessage.png">
                    </span>
                    <span class="leaveMessageTextareaSpan" style="display: contents">
                        <textarea name="userMessage" v-model="order.userMessage" class="leaveMessageTextarea" placeholder="You can also enter 200 characters"></textarea>
<!--                        <div>-->
<!--                            <span>You can also enter 200 characters</span>-->
<!--                        </div>-->
                    </span>
                </div>
                <span class="pull-right">Store total (including shipping): ￥
                    {{total|formatMoneyFilter}}
                </span>
            </div>

        </div>
        <div class="orderItemTotalSumDiv">
            <div class="pull-right">
                <span>Payment：</span>
                <span class="orderItemTotalSumSpan">{{total|formatMoneyFilter}}</span>
            </div>
        </div>
        <div class="submitOrderDiv">
            <button type="button" class="submitOrderButton" @click="submitOrder">Submit order</button>
        </div>
    </div>
</div>